<div class="composite">
    <div class="panel panel-default">
        <div class="panel-body">
            <span cs-transclude="header"></span>
        </div>
    </div>

    <p>
        <ul class="list-inline">
            <li ng-repeat="widget in widgetDefs">
                <span class="label label-primary">{{widget.name}}</span>
            </li>
        </ul>
    </p>

    <div ng-repeat="widgetDef in widgetDefs">
        <div class="widget panel panel-default">
            <div class="widget-header panel-heading">
                {{widgetDef.name}}
            </div>
            <div class="panel-body">
                <div cs-widget-transclude="widgetDef"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <span cs-transclude="footer"></span>
        </div>
    </div>
</div>